<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Nº Mesa</th>
      <th>Cliente</th>
      <th>Data</th>
      <th>R$</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
